.PrimaryButton{
  padding:10px;
  margin:auto;
  margin-bottom: 20px;
  font-size:15px;
  width:175px;
  height: 45px;
  color: white;
  border-radius: 100px;
  position: relative;
  background: linear-gradient(to right, #007bff 0%, #33CCFF 100%);
}