.PrimaryButton{
  padding:10px;
  margin:auto;
  margin-bottom: 20px;
  font-size:15px;
  width: 200px;
  
  color: white;
  border-radius: 20%;
  position: relative;
  background: linear-gradient(to right, #007bff 0%, #33CCFF 100%);
}

.CenterHome {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ImageHome {
  display: inline-block;
  filter: brightness(120%);
}

.TitleHome {
  display: inline-block;
  font-size: 70px;
  color: white;
  margin: 15px;
  vertical-align: -10px;
}